<section class="profile-page">
    <h1 class="profile-title"><%= profile.firstName %> <%= profile.lastName %></h1>
    <div class="profile-details-grid">
        <% if (profile.programmingLanguages.length > 0) { %>
            <div class="profile-details-item-label">Programming Languages</div>
            <% profile.programmingLanguages.forEach(pl => { %>
                <div class="profile-details-item"><%= pl %></div>
            <% }) %>
        <% } %>
    </div>
    <div class="profile-details-grid">
        <% if (profile.languages.length > 0) { %>
            <div class="profile-details-item-label">Languages</div>
            <% profile.languages.forEach(l => { %>
                <div class="profile-details-item"><%= l %></div>
            <% }) %>
        <% } %>
    </div>
    <div class="profile-description">
        <% if (profile.description != null && profile.description !== '') { %>
            <% profile.description.split('\n').forEach(p => { %>
                <p><%= p %></p>
            <% }) %>
        <% } %>
    </div>
</section>
