<% projectCoverClass = locals.large ? 'project-cover-large' : '' %>
<div class="projects-grid">
    <% if (projects && projects.length !== 0) { %>
        <% projects.forEach(project => { %>
            <section>
                <% if (!project.coverImageLink && project.coverImageLink !== '') { %>
                    <a href="/projects/<%= project.customUrl %>">
                        <img class="project-cover <%= projectCoverClass %>" src="<%= project.coverImageLink %>" alt="">
                    </a>
                <% } %>
                <h2><a href="/projects/<%= project.customUrl %>"><%= project.title %></a></h2>
            </section>
        <% }) %>
    <% } %>
</div>
