<% uploadDate = project.uploadDate != null ? project.uploadDate : new Date().toISOString().slice(0, 10) %>
<div class="form-row">
    <div class="form-item">
        <label for="title">Project Name</label>
        <input type="text" id="title" name="title" placeholder="Enter your Project Name" value="<%= project.title %>" required>
    </div>
    <div class="form-item">
        <label for="uploadDate">Upload Date</label>
        <input type="date" id="uploadDate" name="uploadDate" value="<%= uploadDate %>" required>
    </div>
    <div class="form-item">
        <label for="updateDate">Update Date</label>
        <input type="date" id="updateDate" name="updateDate" value="<%= new Date().toISOString().slice(0, 10) %>">
    </div>
    <div class="form-item">
        <label for="sourceCode">Source Code Link</label>
        <input type="text" id="sourceCode" name="sourceCode" value="<%= project.sourceCode %>">
    </div>
    <div class="form-item">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="<%= project.description %>">
    </div>
    <div class="form-item">
        <label for="coverImageLink">Cover Image Link</label>
        <input type="text" id="coverImageLink" name="coverImageLink" value="<%= project.coverImageLink %>">
    </div>
</div>
